h1,h2
{
	color: #f6efef;
	text-align:center;
	border: 5px solid #f60c86;
	background-color: #2e89ba;
	width: 50%;
	margin-left: auto;
	margin-right: auto;

}
img
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#regalo
{
	  background-color: #f9f6d8;
  	border: 5px solid #f60c86;
  	padding: 5px;
		margin-left: auto;
		margin-right: auto;
	  align-items: center;
}


.heart-shape{
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #e90f0f;
}
.heart-shape:before,
.heart-shape:after{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #e90f0f;
}
.heart-shape:before{
    bottom: 0px;
    left: -10px;
}
.heart-shape:after{
    top: -10px;
    right: 0px;
}
.regalo div img h1 h2
{
	width: 100%;
}

@media(max-width:500px)
{
  article
  {
      width: 95%;
  }
  div header span
  {
    display:none;
  }

}
@media (max-width: 400px)
{
  .regalo div
  {
    width: 49%;
  }
}
